body {
    text-align: center;
    background: url("./pics/wineglass-bay.jpg");
    background-size: cover;
    background-position:  auto;
    background-repeat: no-repeat;
    color: magenta;
    font-family: georgia;
    
  }
